.idea
.vscode
.coverage

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfvars
crash.log

# Pulumi
pulumi/venv/
pulumi/.pulumi-state/
pulumi/__pycache__/
Pulumi.*.yaml

# Ansible
.ansible/
ansible/
*.retry
.vault_pass
__pycache__/